{% extends 'base/base.html' %}
{% load static %}

{% block menu_microservice_name %}Кросспостер{% endblock %}
{% block site_title %}Автоматизация взаимодействия с соц. сетями{% endblock %}
{% block start_of_head %}{% endblock %}
{% block menu_items_microservice %}
    {% include "base/menu_items_microservice.html" with url_name="social_list_or_add" url_title="Аккаунты соцсетей" %}
{% endblock %}
{% block source_code_link %}
    <a href="https://github.com/syeysk/django-sy-socials" target="_blank">GitHub</a>
{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block page_title %}{% endblock %}
{% block title %}{% endblock %}
{% block content %}{% endblock %}
{% block end_of_body %}{% endblock %}
