DEBUG=True
SECRET_KEY=your_secret_key
SITE_URL=https://your_domain.com
API_SALT=salt
API_SECRET_KEY=secret-key

EXTERN_AUTH_GOOGLE_CLIENT_ID=client id of your app
EXTERN_AUTH_GOOGLE_CLIENT_SECRET=secret key of your app

MICROSERVICE_TOKEN_TO_AUTH=test
MICROSERVICE_TOKEN_TO_FACI=test2
MICROSERVICE_TOKEN_TO_NOTE=test2
MICROSERVICE_URL_AUTH=http://127.0.0.1:8004
MICROSERVICE_URL_FACI=http://127.0.0.1:8002
MICROSERVICE_URL_NOTE=http://127.0.0.1:8003
