{% extends 'template.html' %}
{% load static %}

{% block title %}Взаимодействие с соцсетями{% endblock %}
{% block page_title %}Главная страница{% endblock %}

{% block content %}

<ul>
    <li>Добавляйте ботов, настраивайте их под свои потребности</li>
</ul>

<p>
  <b>Внимание!</b> Контент, создаваемый на данном веб-сервисе, является доступным, в том числе и незарегистрированным посетителям.
  Пожалуйста, создавайте только такой контент, который считаете/является допустимым для публикации в открытый доступ.
</p>

{% endblock %}
