{% extends 'template.html' %}
{% load static %}

{% block title %}Платформа межкомандного взаимодействия{% endblock %}
{% block page_title %}Главная страница{% endblock %}

{% block content %}

<p>
Шаблон
</p>

<ul>
    <li>Клонируйте в новый репозиторий</li>
    <li>Начните разрабатывать собственный микросервис из шаблона</li>
    <li>По завершению разработки микросервиса создайте Pull Request на его включение в список https://intera.space/all-microservices </li>
    <li>Микросервис войдёт в состав экосистемы Платформы</li>
</ul>

<p>
  <b>Внимание!</b> Контент, создаваемый на данном веб-сервисе, является доступным, в том числе и незарегистрированным посетителям.
  Пожалуйста, создавайте только такой контент, который считаете/является допустимым для публикации в открытый доступ.
</p>

{% endblock %}
