{% extends 'template.html' %}
{% load static %}

{% block title %}Аккаунты социальных сетей{% endblock %}
{% block page_title %}Соц. сети{% endblock %}

{% block start_of_head %}
    <script src="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.css' %}">
    <script src="{% static 'base/extern/codemirror-5.65.14/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'base/code-mirror-component.js' %}"></script>
    <script src="{% static 'base/map-field-component.js' %}"></script>
    <script src="{% static 'base/map-serializer-component.js' %}"></script>
{% endblock %}


{% block content %}
    {{ socials|json_script:'social_list' }}
    {{ adapters|json_script:'adapters' }}
    {{ serializer_maps|json_script:'serializer_maps' }}
    {{ bots_by_adapter|json_script:'bots_by_adapter' }}
		<script>
			  var URL_ADD_SOCIAL = '';
        var CSRF_TOKEN = "{{ csrf_token }}";
		</script>

    <div id="app_social_list_id"></div>

		<script>
        SocialComponent = {
            props: ['adapter', 'title', 'isNew', 'adapters', 'credentials'],
            data() {
                return {
                    collapsed: this.isNew ? false : true,
                    mIsNew: this.isNew,
                    mAdapter: this.adapter,
                    mCredentials: this.credentials,
                    mTitle: this.title,
                    is_authenticated: this.credentials != undefined,
                    badMessage: '',
                    serializer_maps: JSON.parse(document.getElementById('serializer_maps').textContent),
                };
            },
            emits: ['toggle'],
            components: {MapSerializerComponent},
            methods: {
                toggle(event) {
                    this.collapsed = this.collapsed ? false : true;
                    this.$emit('toggle', this, this.collapsed);
                },
                save(event) {
                    let self = this;
                    let form = event.target.form;
                    $.ajax({
                        url: URL_ADD_SOCIAL + this.$.vnode.key,
                        headers: {"X-CSRFToken": CSRF_TOKEN},
                        dataType: 'json',
                        data: $(form).serialize(),
                        success: function(result) {
                            clear_status_fields(form);
                            set_valid_field(form, result.updated_fields);

                            console.log('cred', result.updated_cred_fields);
                            let updated_cred_fields = result.updated_cred_fields;
                            for (let index=0; index < updated_cred_fields.length; index++) {
                                updated_cred_fields[index] = 'cred-' + updated_cred_fields[index];
                            }
                            set_valid_field(form, updated_cred_fields);

                            self.$.vnode.key = result.id;
                            self.mIsNew = false;
                            self.badMessage = '';
                        },
                        statusCode: {
                            500: function(xhr) {
                                self.badMessage = 'ошибка сервера'
                            },
                            400: function(xhr) {
                                clear_status_fields(form);
                                set_invalid_field(form, xhr.responseJSON);

                                let cred_fields_with_prefix = {};
                                let cred_fields = xhr.responseJSON['credentials'];
                                if (cred_fields) {
                                    for (field_name in cred_fields) {
                                        cred_fields_with_prefix['cred-' + field_name] = cred_fields[field_name];
                                    }
                                    set_invalid_field(form, cred_fields_with_prefix);
                                }

                                self.badMessage = ''
                            },
                            404: function(xhr) {
                                self.badMessage = 'база с таким именем не существует'
                            },
                        },
                        method: "post"
                    });
                },
            },
            template: `
                <div style="cursor: pointer;" @click="toggle">
                    [[mTitle]]
                </div>
                <form v-if="!collapsed">
                    <div class="mb-3 form-group" id="adapter-group">
  					            <div class="form-floating">
                            <select :disabled="!mIsNew" v-model="mAdapter" class="form-select" id="adapter-field">
                                <option
                                    v-for="adapter_variable in adapters"
                                    :value="adapter_variable[0]"
                                    :selected="adapter_variable[0] == mAdapter"
                                >[[ adapter_variable[1] ]]</option>
                            </select>
                            <label for="adapter-field">Адаптер соцсетей</label>
                        </div>
                    </div>
                    <input type="hidden" name="adapter" v-model="mAdapter">

                    <div class="mb-3 form-group" id="title-group">
                        <div class="form-floating">
                            <input v-model="mTitle" class="form-control" type="text" name="title" :id="'text-' + $.vnode.key + 'field'">
                            <label :for="'title-' + $.vnode.key + 'field'" class="form-label">Заголовок аккаунта</label>
                         </div>
                    </div>

                    <div v-if="is_authenticated">
                            <span v-if="serializer_maps[mAdapter]">Данные для подключения:</span>
                            <map-serializer-component
                                v-if="!collapsed"
                                :serializer-map="serializer_maps[mAdapter]"
                                v-model="mCredentials"
                                :use-default-value="isNew"
                                name="credentials"
                            ></map-serializer-component>

                            <br>

                            <div class="alert alert-danger" role="alert" :class="{'d-none': !badMessage}">
                                [[ badMessage ]]
                            </div>

                            <input type="button" value="Сохранить" class="btn btn-secondary" @click="save">
                    </div>
                </form>
            `
        }
		</script>

		<script>
  			SocialsComponent = {
	   		    data() {
		  	        return {
		  	            socials: JSON.parse(document.getElementById('social_list').textContent),
		  	            adapters: JSON.parse(document.getElementById('adapters').textContent),
		  	            uncollapsed_component: null,
		  	        };
			      },
			      components: {SocialComponent},
			      template: `
			          <button @click="add">Добавить аккаунт</button>
			          <social-component
			              v-for="social in socials"
			              :key="social.pk"
			              :adapter="social.adapter"
			              :title="social.title"
			              :credentials="JSON.stringify(social.credentials)"
			              @toggle="toggle"
			              :adapters="adapters"
			              :is-new="social.isNew == undefined ? false : social.isNew"
			          ></social-component>
  			    `,
  			    methods: {
  			       toggle(component, is_collapsed) {
                   if (!is_collapsed && this.uncollapsed_component && component != this.uncollapsed_component) {
                        this.uncollapsed_component.collapsed = true;
                    }
                    this.uncollapsed_component = component;
  			       },
  			       add(event) {
                    if (this.uncollapsed_component && !this.uncollapsed_component.isNew) {
                        this.uncollapsed_component.collapsed = true;
                    }
                    if (this.socials.length == 0 || this.socials[0].pk) {
                        this.socials.unshift({
                            adapter: '',
                            description: '',
                            title: '',
                            pk: '',
                            isNew: true,
                            credentials: {},
                        });
                    }
                }
  			    }
	  		}
		</script>

		<script>
			  const { createApp } = Vue;

        var app_socials = createApp(SocialsComponent);
        app_socials.config.compilerOptions.delimiters = [ '[[', ']]' ];
        app_socials.mount('#app_social_list_id');
		</script>

{% endblock %}
